[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/huff-runner"]
	path = lib/huff-runner
	url = https://github.com/whitenois3/huff-runner
